


<% if(!currentUser) { %>
  <form action="/login" method="POST">
    <label>Username: </label><input type="text" name="username">
    <button>Sign in</button>
  </form>
<% } else { %>
  <p> <%= currentUser %> is now logged in.....</p>
    <form method="POST" action="/logout">
      <button>Logout</button>
    </form>
<% } %>

